[Unit]
Description=Starts ydotoold Daemon
After=graphical.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStartPre=/bin/sleep 2
ExecStart=/usr/local/bin/ydotoold --socket-path=/tmp/.ydotool_socket --socket-own=1000:1000
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process
TimeoutSec=180


[Install]
WantedBy=basic.target
