[Unit]
Description=Cage Wayland compositor on %I
After=systemd-user-sessions.service plymouth-quit-wait.service
Before=graphical.target
ConditionPathExists=/dev/tty0
Wants=dbus.socket systemd-logind.service
After=dbus.socket systemd-logind.service
Conflicts=getty@%i.service
After=getty@%i.service
After=network-online.target
After=httpd.service

[Service]
Type=simple
ExecStart=/usr/bin/cage /usr/local/bin/chromium_launcher
Environment="URL=http://localhost"
Restart=always
User=1000
UtmpIdentifier=%I
UtmpMode=user
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-fail
PAMName=1000

[Install]
WantedBy=graphical.target
DefaultInstance=tty7
