[Unit]
Description=Local Web Server (BusyBox HTTPD)
After=network.target

[Service]
ExecStart=/usr/bin/busybox httpd -f -p 127.0.0.1:80 -h <WD>/web
WorkingDirectory=<WD>/web
Restart=always
User=1000
Group=1000

[Install]
WantedBy=multi-user.target
