[Unit]
Description=Starts uxplay
After=ydotoold.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/uxplay -n TV -nh  -vs waylandsink
Environment="XDG_RUNTIME_DIR=/run/user/1000"
KillMode=process
TimeoutSec=180
User=1000
Group=1000

[Install]
WantedBy=basic.target